# Scope

this is another take on free form text parsing.

## Limitations

this is a quick and dirty work, and therefore the regular expression could have been made a lot more elegant

## Reference

The following link can be used to test the regular expression https://regex101.com/r/86KIEO/8/

## Author

Gourav Sengupta

If you are interested in solving interesting regular expression based problems please get in touch with [me](g@datamasala.com)

In [459]:
import pandas
import re, regex
import sys, os

In [460]:
pandas.options.display.max_rows = 999
pandas.options.display.max_colwidth = -1

## Environment Details

In [461]:
sys.version

'3.6.2 |Continuum Analytics, Inc.| (default, Jul 20 2017, 13:14:59) \n[GCC 4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.57)]'

## I. Input

The input is a free form text file which looks like this

```
(LM5678) MU7777 Developer             open order hitrom citron     low
               and		      hdtv ananda bazar paprika.    (TS09)
		Validation					    amit
								   sail

(LM4444) MU8888 Developer             open1 order1 hitromi citroner     medium
               and		      hdtv ananda bazar paprika.    (TS09)
		Validation					    amit
								   saigal

(LM9999) MU9878 Validation	        model framework I am doing. High
					 let it be let it be
								    
					Beatles hdtv hdtv
```

## II. Parsing the result into Pandas Dataframe

### II.a. Entering the text into a variable

In [462]:
textToParse = """(LM5678) MU7777 Developer             open order hitrom citron     low
               and		      hdtv ananda why am I here.    (TS09)
		Validation					    amit
								   sail

(LM4444) MU8888 Developer             open1 order1 hitromi citroner     medium
               and		      hdtv ananda bazar paprika.    (TS09)
		Validation					    amit
								   saigal

(LM9999) MU9878 Validation	        model framework I am doing. High
					 let it be let it be
								    
					Beatles hdtv hdtv"""

### II.b. Creating the Pandas Dataframe

In [463]:
def createPandasDataFrame(textToParse):
    regularExpr  = "(\s*)?(?<field1>\(LM\d+\))\s(?<field2>MU\d+)\s(?<field3>[a-zA-Z]+)\s+(?<field4part1>([a-zA-Z0-9\.]+\s)+)(\s+)?(?<field5>[lL]ow|[mM]edium|[hH]igh)([\s|\n]+)?(?<field4part2>(((?!\(LM\d+\)).)*[\s|\n]?)+)"
    parsedResult = regex.findall(regularExpr, textToParse)
    collatedResult = map(lambda record: (record[1],
                                         record[2],
                                         record[3],
                                         record[7],
                                         re.sub("\s+|\t+", " ", re.sub("\r|\n", "", record[4] + record[9]))), 
                         parsedResult)
    return(collatedResult)

## III. Showing the result

In [464]:
pandas.DataFrame(list(createPandasDataFrame(textToParse)), 
                 columns = ["field1", "field2", "field3", "field4", "field5"])

,field1,field2,field3,field4,field5
0,(LM5678),MU7777,Developer,low,open order hitrom citron and hdtv ananda why am I here. (TS09) Validation amit sail
1,(LM4444),MU8888,Developer,medium,open1 order1 hitromi citroner and hdtv ananda bazar paprika. (TS09) Validation amit saigal
2,(LM9999),MU9878,Validation,High,model framework I am doing. let it be let it be Beatles hdtv hdtv

## Comments

The regular expression has now named groups, and can therefore be studied quite easily. There is no documentation provided as of now on how to read the regular expression